[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

# Scheduled Functions
[functions."send-notifications"]
  schedule = "0 0 * * *"  # 毎日 0:00 UTC (9:00 JST) に実行
